<h1>Ask Stupiiid Coaching !</h1>
<p>ask you coach anything</p>

  <form action="/answer" data-turbo="false" class="form-label">
    <input type="text" name="ask" value="<%=params[:ask] %>" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary mb-3">
  </form>

